<section id="about" class="about">
  <div class="about__container-fluid">
    <div class="container about__container grid">
      <div class="about__left">
        <h2 class="about__header">О студии</h2>
        <p class="about__content">В рамках спецификации современных стандартов, интерактивные прототипы, инициированные
          исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны:
          высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации!
          Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения
          внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности
          для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает
          независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно,
          граждане, наблюдать, как явные признаки институционализации являются только методом политического участия
          и нарушающими общечеловеческие нормы этики.</p>
      </div>
      <div class="about__right">
        <div class="about__img"></div>
        <h3 class="about__form-header">Подписаться на рассылку</h3>
        <form action="#" class="form about__form">
          <label class="form__label about__label">
            <input type="email" name="email" class="input-reset form__input about__input input-email" placeholder="E-mail">
          </label>
          <div class="">
            <button class="btn-reset form__btn btn">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
