<footer class="footer">
  <div class="footer__container-fluid">
    <div class="container footer__container grid">
      <div class="footer__logo-container">
        <a href="#" class="logo footer__logo">
          <img loading="lazy" src="../img/logo.svg" width="190" height="31" alt="High pass">
        </a>
        <div class="footer__logo-content">Фотостудия High pass® 2018–2020</div>
      </div>
      <div class="footer__content">
        <p class="footer__content-p">Которая из моих фотографий самая любимая?</p>
        <p class="footer__content-p">Та, которую я собираюсь снять завтра.</p>
        <p class="footer__content-p">© Имоджен Каннингем</p>
      </div>
      <div class="footer__links grid">
        <div class="footer__links-content">Больше интересного:</div>
        <div class="footer__links-link1">
          <a href="#" class="footer__link btn-svg">
            <svg class="btn__svg" width="30" height="30">
              <use xlink:href="img/sprite.svg#social_ok"></use>
            </svg>
          </a>
        </div>
        <div class="footer__links-link2">
          <a href="#" class="footer__link btn-svg">
            <svg class="btn__svg" width="30" height="30">
              <use xlink:href="img/sprite.svg#social_vk"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
