<section class="hero">
  <div class="container">
    <div class="hero__container grid">
      <div class="hero__left flex">
        <div class="">
          <a href="#" class="hero__link btn btn-reset">Узнать больше</a>
        </div>
        <h2 class="hero__header">Неоновый фотосет 2.0 7 июля 20:00</h2>
        <p class="hero__content">Мастер-класс от Игоря Робова</p>
        <p class="label hero__label">#мастеркласс</p>
      </div>
      <div class="hero__wright">
        <h3 class="hero__subheader">Работы участников предыдущего мастер-класса</h3>
        <div class="hero__photos grid">
          <div class="hero__photo1"></div>
          <div class="hero__photo2"></div>
          <div class="hero__photo3"></div>
        </div>
      </div>
    </div>
  </div>
</section>
