<section id="projects" class="projects">
  <div class="container projects__container">
    <h2 class="projects__header">Наши проекты</h2>
    <div class="projects__cards grid">

      <div class="projects__card card card--mini">
        <div class="card__date">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <div class="card__date-text">16 июня</div>
        </div>
        <a target="_blank" href="#" class="card__content card__content--clickable card__content--long">Синтетически,
          смешаны с не уникальными данными до степени…</a>
        <div class="card__content card__content card__content--clickable card__content--short">Синтетически, смешаны с не уникальными…</div>
        <div class="card__img"></div>
        <div class="label card__label">#пейзаж</div>
      </div>

      <div class="card card--mini">
        <div class="card__date">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <div class="card__date-text">28 мая</div>
        </div>
        <a target="_blank" href="#" class="card__content card__content--clickable card__content--long">В своём
          стремлении улучшить опыт мы<br> упускаем, что явные...</a>
        <a target="_blank" href="#" class="card__content card__content--clickable card__content--short">В своём
          стремлении улучшить опыт мы...</a>
        <div class="card__img"></div>
        <div class="label card__label">#портрет</div>
      </div>

      <div class="card card--mutable">
        <div class="card__date">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <div class="card__date-text">14 мая</div>
        </div>
        <a target="_blank" href="#" class="card__content card__content--clickable card__content--long">Равным образом,
          высокое качество позиционных…</a>
        <a target="_blank" href="#" class="card__content card__content--clickable card__content--short">Равным образом,
          высокое качество позиционных
          высокотехнологичная концепция общественного уклада</a>
        <div class="card__img"></div>
        <div class="label card__label">#предмет</div>
      </div>

      <div class="card card--large">
        <div class="">
          <a target="_blank" href="#" class="btn-reset btn btn--transparent">О проекте</a>
        </div>
        <div class="card__content">В рамках спецификации современных стандартов, интерактивные прототипы</div>
        <div class="card__header">Cемантический разбор</div>
        <div class="card__date">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <div class="card__date-text">9 апреля</div>
        </div>
        <div class="label card__label">#fuji</div>
      </div>

      <div class="card card--medium">
        <div class="card__date">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <div class="card__date-text">9 марта</div>
        </div>
        <a target="_blank" href="#" class="card__content card__content--clickable card__content--long">Как принято
          считать, многие известные личности и по сей день
          остаются уделом либералов…</a>
        <a target="_blank" href="#" class="card__content card__content--clickable card__content--short">Как принято
          считать, многие известные личности и по сей
          день остаются уделом либералов…</a>
        <div class="card__img"></div>
        <div class="label card__label">#ретушь</div>
      </div>

      <div class="card card--medium">
        <div class="card__date">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <div class="card__date-text">1 марта</div>
        </div>
        <a target="_blank" href="#" class="card__content card__content--clickable card__content--long">С учётом
          сложившейся международной обстановки, новая модель
          организационной…</a>
        <a target="_blank" href="#" class="card__content .card__content--clickable card__content--short">С учётом
          сложившейся международной обстановки, новая
          модель организационной…</a>
        <div class="card__img"></div>
        <div class="label card__label">#портрет</div>
      </div>

      <div class="card card--large">
        <div class="">
          <a target="_blank" href="#" class="btn-reset btn btn--transparent">О проекте</a>
        </div>
        <div class="card__content">Играет важную роль в формировании глубокомысленных рассуждений</div>
        <div class="card__header">Забвение</div>
        <div class="card__date">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <div class="card__date-text">20 марта</div>
        </div>
        <div class="label card__label">#проектзабвение</div>
      </div>
    </div>
  </div>
</section>
