html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  background: none;
  color: inherit;
}

/* img {
  max-width: 100%;
} */

:root {
  --gap: 32px;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* glob */
.container {
  /* max-width: 1920px; */
  padding: 0 75px;
  margin: 0;
  margin-bottom: 100px;
  width: 100%;
}

.flex {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #fff;
  margin: 0;
}

.btn-reset {
  /* padding: 0; */
  border: none;
  /* background-color: inherit; */
  cursor: pointer;
}

.btn {
  border-radius: 16px;
}

.btn:focus {
  outline: none;
}

.section-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin: 0;
}

.section-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  margin: 0;
}

.section-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0;
}

.orange-btn {
  background: #ff9900;
  color: #fff;
}

.orange-btn:hover {
  background: #ffb84d;
}

.orange-btn:focus {
  background: #ffb84d;
}

.orange-btn:active {
  background: #e1670e;
}

/* header */
.header>.container {
  padding: 0;
  margin-bottom: 50px;
}

.header__content {
  height: 100px;
  align-items: center;
  background: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__logo {
  margin: 0;
  margin-left: 75px;
}

.header__logo:focus {
  outline-offset: 1px;
  outline: 2px solid #ff9900;
}

.header__logo>img {
  width: 225px;
  height: 72px;
}

.header__nav {
  width: 708px;
  margin-right: 260px;
  margin-left: auto;
}

.nav__list {
  justify-content: space-between;
}

.list__href {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  transition: outline 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.list__href::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff9900;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.list__href:hover::after {
  opacity: 1;
}

.list__href:focus {
  outline-offset: 1px;
  outline: 2px solid #ff9900;
}

.list__href:active {
  color: #e1670e;
}

.header__search {
  width: 24px;
  height: 24px;
  margin-right: 75px;
}

.header__search svg {
  transition: outline 0.3s ease-in-out;
}

.header__search:hover svg rect {
  fill: #ff9900;
}

.header__search:hover svg path {
  stroke: #ff9900;
}

.header__search:focus {
  outline: none;
}

.header__search:focus svg {
  outline-offset: 1px;
  outline: 2px solid #ff9900;
}

.header__search:active svg rect {
  fill: #ff9900;
}

.header__search:active svg path {
  stroke: #ff9900;
}

.header__action {
  position: absolute;
  right: 0;
  top: 0;
  width: 539px;
  height: 60px;
  z-index: 1000;
  padding: 16px 0 16px 32px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  visibility: hidden;
  transform: translateY(-120%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__action--active {
  visibility: visible;
  transform: none;
}

.header__action>* {
  background: none;
}

.header-action__input {
  vertical-align: top;
  width: 412px;
  height: 26px;
  border: none;
  border-bottom: 1px solid #cacaca;
}

.header__action>button {
  size: 24px 24px;
  padding: 0;
  margin-left: 14px;
}

.header-action__btn-close {
  margin-left: 20px;
}

.header-action__btn-close:hover svg rect{
  fill: #ff9900;
}

.header-action__btn-close:hover svg circle{
  stroke: #ff9900;
}

.header-action__btn-close:focus {
  outline-offset: 2px;
  outline: 2px solid #FF9900;
  background: none;
}

.header-action__btn-close:hover svg rect{
  fill: #000;
}

.header-action__btn-close:hover svg circle{
  stroke: #000;
}

/* hero */
.hero>.container {
  margin-bottom: 50px;
}

.hero__container {
  position: relative;
  max-width: 100%;
  height: 620px;
  border-radius: 32px;
  overflow: hidden;
}

.hero_content {
  position: absolute;
  margin-top: 100px;
  margin-left: 80px;
  z-index: 999;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-slide--1 {
  background-image: url('../img/hero_back1.jpg');
}

.swiper-slide--2 {
  background-image: url('../img/hero_back2.jpeg');
}

.swiper-slide--3 {
  background-image: url('../img/hero_back3.jpeg');
}

/* .swiper-pagination-bullet-active {
  background-color: #000 !important;
} */
/* .swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
} */
.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #cacaca;
  margin-bottom: 20px;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:first-child) {
  margin-left: 17px;
  margin-bottom: 16px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
  margin-bottom: 16px;
}

.hero__title {
  width: 837px;
  margin-bottom: 24px;
}

.hero__descr {
  max-width: 790px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-bottom: 90px;
  /* height: 58px; */
}

.hero__btn {
  width: 280px;
  height: 78px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}

/* aboutus */
.aboutus__title {
  margin-bottom: 20px;
}

.aboutus__desc {
  max-width: 1235px;
  margin-bottom: 50px;
}

.aboutus__items {
  flex-direction: column;
  height: 622px;
  flex-wrap: wrap;
}

.items__item {
  border-radius: 32px;
  align-items: flex-end;
  /* для 2 столбцов: */
  width: calc((100% - (var(--gap) * 1)) / 2);
}

.aboutus__items li:first-child {
  margin-right: 32px;
  height: 622px;
  background-image: url('../img/aboutas_back1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: row;
}

.items__grey-elipse {
  border-radius: 32px;
  width: 100%;
  height: 196px;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  align-items: center;
}

.items__grey-elipse .items__desc {
  width: 433px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  margin: 0;
}

.items__grey-elipse .items__btn {
  width: 175px;
  height: 60px;
  margin-left: auto;
  border: 3px solid #ff9900;
  border-radius: 16px;
  background: none;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.items__grey-elipse .items__btn:hover {
  background: #ff9900;
}

.items__grey-elipse .items__btn:focus {
  background: #ff9900;
}

.items__grey-elipse .items__btn:active {
  background: #e1670e;
}

.items__item:nth-child(2n) {
  margin-bottom: var(--gap);
}

.aboutus__items li:not(:first-child) {
  border: 1px solid #cacaca;
  height: 295px;
  align-items: center;
  /* padding-top: 64px; */
  /* padding-left: 17%; */
}

.card__svg {
  width: 41%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.items__item:nth-child(2) .card__svg {
  background-image: url('../img/aboutus_item_img1.svg');
}

.items__item:nth-child(3) .card__svg {
  width: 35%;
  background-image: url('../img/aboutus_item_img2.svg');

}

.card__text {
  margin-left: -10px;
}

.items__item:nth-child(3) .card__text {
  margin-left: -6px;
}

.card-text__headr {
  margin-bottom: 7px;
}

.card__headr {
  margin: 0;
  margin-bottom: 8px;
}

/* algorithm */
.algorithm__column {
  width: calc((100% - (var(--gap) * 1)) / 2);
}

.algorithm__column:not(:last-child) {
  margin-right: var(--gap);
}

.algorithm__column:last-child {
  margin-top: 8px;
}

.algorithm__title {
  margin-bottom: 50px;
}

.algorithm__items {
  margin: 0;
  margin-bottom: 47px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.algorithm-items__item {
  text-decoration: none;
  color: #000;
  background-color: inherit;
  padding: 0;
}

.algorithm-items li:not(:last-child) .algorithm-items__item {
  margin-right: 86px;
}

.algorithm-items__item:hover {
  color: #ff9900;
}

.algorithm-items__item:focus {
  outline-offset: 1px;
  outline: 2px solid #ff9900;
  background-color: transparent;
  color: #000;
}

.algorithm-items__item:active {
  color: #e1670e;
}

.algorithm__subheadr {
  margin-bottom: 9px;
}

.algorithm__text {
  margin-bottom: 18px;
  padding-right: 118px;
}

.algorithm__btn1 {
  padding: 20px 38px;
  height: 60px;
  margin-right: 28px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.algorithm__btn2 {
  padding: 20px 38px;
  border: 1px solid #000;
  border-radius: 16px;
  background-color: inherit;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  height: 60px;
}

.algorithm__btn2:hover,
:focus {
  background: #666;
  color: #ffffff;
}

.algorithm__btn2:active {
  background: #000;
  color: #fff;
}

.algorithm__column-img {
  /* margin-top: 186px; */
  width: 100%;
  height: 460px;
  border-radius: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.algorithm__column-img--1 {
  background-image: url('../img/algorithm_pic.jpg');
}

.algorithm__column-img--2 {
  background-image: url('../img/algorithm_pic2.jpeg');
}

.algorithm__column-img--3 {
  background-image: url('../img/algorithm_pic3.jpeg');
}

.algorithm__column-img--4 {
  background-image: url('../img/algorithm_pic4.jpeg');
}

.tabs-nav__href--active {
  color: #e1670e;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: flex;
}

/* faq */
.faq__items {
  flex-direction: column;
  border-bottom: 1px solid #cacaca;
}

.faq__title {
  padding-top: 11px;
  margin-bottom: 32px;
}

.faq-items__href {
  position: relative;
  width: 100%;
  height: 111px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  /* border-bottom: 1px solid #cacaca; */
  border-top: 1px solid #cacaca;
  background: none;
  text-align: left;
}

.faq-items__href::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ff9900;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.faq-items__href:hover::after {
  opacity: 1;
}

.faq-items__href:focus::after {
  opacity: 1;
}

.faq-items__href:active::after {
  opacity: 0;
}

.faq-items__item {
  transition: border-color 0.3s ease-in-out;
}

.faq-items__item svg {
  transition: transform 0.3s ease-in-out;
}

.faq-items__item svg ellipse {
  transition: fill 0.3s ease-in-out;
}

.faq-items__item svg path {
  transition: fill 0.3s ease-in-out;
}

.faq-items__item :hover {
  border-color: #ff9900;
}

.faq-items__item :hover svg ellipse {
  fill: #ff9900;
}

.faq-items__item :hover svg path {
  fill: #fff;
}

.faq-items__item :hover h3 {
  color: #ff9900;
}

/* .faq-items__item :focus */
.faq-items__item :focus {
  border-color: #ff9900;
  background-color: transparent;
  outline: none;
}

.faq-items__item :focus svg ellipse {
  fill: #ff9900;
}

.faq-items__item :focus svg path {
  fill: #fff;
}

.faq-items__item :focus h3 {
  color: #ff9900;
}

.faq-items__item :active svg {
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.faq-items__item :active {
  border-color: #cacaca;
}

.faq-items__item :active h3 {
  color: #000;
}

.faq-items__item :active svg ellipse {
  fill: #cacaca;
}

.faq-items__item :active svg path {
  fill: #000;
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.accordion--active .accordion__content {
  visibility: visible;
}

.accordion--active .accordion__control svg {
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.accordion__heading {
  margin: 0;
}

/* footer */
.footer>.container {
  padding: 0;
  margin-bottom: 0;
}

.footer__container {
  height: 594px;
  background: #000;
  padding: 50px 75px;
  justify-content: space-between;
}

.footer__column2 {
  width: 570px;
  margin-left: 112px;
}

.footer__column3 {
  width: 20%;
  margin: auto 0;
  margin-right: 8px;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer-items__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
  text-decoration: none;
}

.footer-items li:first-child .footer__content__items__item {
  margin-top: 16px;
}

.footer-items__item:hover {
  color: #ff9900;
}

.footer-items__item:focus {
  outline: 2px solid #ff9900;
  outline-offset: 1px;
  background-color: transparent;
  color: #cacaca;
}

.footer-items__item:active {
  color: #e1670e;
}

.footer__social {
  display: inline-block;
  margin-top: 90px;
  fill: #666;
  font-size: 0;
}

.footer__column1 .footer__social:not(:last-child) {
  margin-right: 20px;
}

.footer__social:hover {
  fill: #ff9900;
}

.footer__social:focus {
  outline-offset: 1px;
  outline: 2px solid #ff9900;
  background: none;
}

.footer__social:active {
  fill: #e1670e;
}

.footer__title {
  color: #cacaca;
}

.footer__action>input,
textarea {
  height: 60px;
  width: 100%;
  background: #414141;
  border-radius: 16px;
  margin-top: 25px;
  padding-left: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.footer__action :nth-child(3) {
  padding-top: 14px;
  height: 150px;
  /* vertical-align: top; */
}

.footer__btn {
  padding: 0;
  width: 269px;
  height: 58px;
  display: block;
  margin: 30px auto 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.footer__action :focus {
  outline: none;
}


.footer__action input:hover,
textarea:hover,
input:focus,
textarea:focus,
input:active,
textarea:active {
  background: #666;
}


.footer__desc {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.burger {
  display: none;
}

.aboutus__imgblock {
  display: none;
}
