.about {
  padding-top: 33px;
  padding-bottom: 70px;

  @include high-desktop {
    padding-bottom: 83px;
  }

  @include mid-tablet {
    padding-bottom: 63px;
  }

  &__container {
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));

    // @include high-desktop {
    //   margin-bottom: 89px;
    // }

    // @include mid-tablet {
    //   margin-bottom: 63px;
    // }

    @include mobile {
      row-gap: 24px;
      margin-bottom: 0;
    }
  }

  &__header {
    margin: 0;
    margin-bottom: 5px;
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 700;

    @include mobile {
      font-size: 18px;
    }
  }

  &__content {
    margin: 0;
    // margin-bottom: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    @include mobile {
      font-size: 14px;
      line-height: 25px;
    }
  }

  &__img {
    min-height: 255px;
    margin-top: 30px;
    margin-bottom: 25px;
    @include image-set("../../img/about_bg");
    @include bg-cover;

    @include high-desktop {
      min-height: 332px;
    }

    @include mid-tablet {
      min-height: 569px;
    }

    @include mobile {
      margin: 0;
      min-height: 278px;
    }
  }

  &__form-header {
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 16px;

    @include mobile {
      font-size: 18px;
      line-height: 22px;
      margin-top: 25px;
    }
  }

  &__form {
    @include flex;

    @include high-desktop {
      flex-direction: column;
      gap: 21px;
    }

    @include mobile {
      gap: 19px;
    }
  }

  &__label {
    flex-grow: 1;
  }

  &__input {
    background-color: var(--light-black-color);
    color: var(--light-color);

    @include high-desktop {
      max-width: 342px;
    }
  }

  &__input::placeholder {
    color: var(--gray-color);
  }
}
