.header {
  color: var(--light-color);

  &__container-fluid {
    background-color: var(--dark-color);
  }

  &__container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: var(--header-row);
    align-items: center;

    @include high-desktop {
      grid-template-columns: repeat(8, 1fr);
    }

    @include mid-tablet {
      grid-template-rows: var(--header-row) 45px;
      row-gap: 0;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 70px 45px;
    }
  }

  &__logo {
    grid-column: 1 / 2 span;
    // width: 190px;

    @include high-desktop {
      width: 166px;
      padding-top: 5px;
    }

    @include mobile {
      grid-column: 1;
      width: 112px;
    }
  }

  &__logo:focus {
    outline: none;
  }

  &__nav {
    grid-column: 4 / 7 span;

    @include high-desktop {
      grid-column: 3 / 5 span;
    }

    @include mid-tablet {
      grid-row: 2 / 2;
      grid-column: 1 / 8 span;
    }

    @include mobile {
      // display: none;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 500;
      overflow-y: auto;
      width: 100%;
      height: 100vh;
      background-color: var(--dark-color);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3 ease-in-out, visibility 0.3 ease-in-out;
    }
  }

  &__btn-search {
    width: 25px;
    height: 25px;
    grid-column: 12;
    justify-self: end;
    color: inherit;

    @include high-desktop {
      grid-column: 8;
    }

    @include mobile {
      grid-column: 2;
      width: 20px;
      height: 20px;
    }
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}

.nav {
  &__list {
    justify-content: space-between;

    @include high-desktop {
      justify-content: left;
      gap: 33px;
    }

    @include mid-tablet {
      justify-content: space-between;
      gap: unset;
      // background-color: var(--light-black-color);
    }

    @include mobile {
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-top: 16px;
      padding-left: 21px;
      // height: 100%;
    }
  }

  &__item {
    &:last-child {
      display: none;

      @include mobile {
        flex-grow: 1;
        padding-bottom: 36px;
        display: flex;
        flex-direction: column-reverse;
      }
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__link {
    color: inherit;
    font-family: var(--second-family);
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    &.focus-visible {
      color: var(--orange-color);
    }

    @include hover {
      background-color: var(--dark-orange-color);
    }

    &:active {
      color: var(--brown-color);
    }
  }
}
